## **UNIVARIATE Stats**

### three types of univariate stats
##### 1. general info : (data types, cnt of total values , no of total value)
##### 2. Range & middle : (min, max,median,mode, quartiles)
##### 3. Normality & spread : (standard devi, skewness, kurtosis)

## **General info**

In [ ]:
# for catorgical use mod
# normality - is the degree in way data is distribued can be gaussian, normal with mean
#method - () , property - no paranthesis_which tells abt the data itself


#load data via live server
import pandas as pd
df = pd.read_csv("http://www.ishelp.info/data/insurance.csv")
df.head(4)

#here we can charge the best rate to customers via infringring the data here
#first generla info

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
df.shape

(1338, 7)

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
#with this we don't have to convert into a string
#mainly for categorical cols
print(f'age : {df.age.count()}')
print(f'sex : {df.sex.count()}')
print(f'bmi : {df.bmi.count()}')
print(f'children : {df.children.count()}')
print(f'smoker : {df.smoker.count()}')
print(f'region : {df.region.count()}')
print(f'charges : {df.charges.count()}')

age : 1338
sex : 1338
bmi : 1338
children : 1338
smoker : 1338
region : 1338
charges : 1338

In [ ]:
#unique values method
print(f'age : {df.age.nunique()}')
print(f'sex : {df.sex.nunique()}')
print(f'bmi : {df.bmi.nunique()}')
print(f'children : {df.children.nunique()}')
print(f'smoker : {df.smoker.nunique()}')
print(f'region : {df.region.nunique()}')
print(f'charges : {df.charges.nunique()}')

age : 47
sex : 2
bmi : 548
children : 6
smoker : 2
region : 4
charges : 1337

In [ ]:
# dtype property
print(f'age : {df.age.dtype}')
print(f'sex : {df.sex.dtype}')
print(f'bmi : {df.bmi.dtype}')
print(f'children : {df.children.dtype}')
print(f'smoker : {df.smoker.dtype}')
print(f'region : {df.region.dtype}')
print(f'charges : {df.charges.dtype}')

age : int64
sex : object
bmi : float64
children : int64
smoker : object
region : object
charges : float64

In [ ]:
# another way to get true/false
#helps to only apply methods to numerical values only

print('age: ' + str(pd.api.types.is_numeric_dtype(df.age)))
print('sex: ' + str(pd.api.types.is_numeric_dtype(df.sex)))
print('bmi: ' + str(pd.api.types.is_numeric_dtype(df.bmi)))
print('children: ' + str(pd.api.types.is_numeric_dtype(df.children)))
print('smoker: ' + str(pd.api.types.is_numeric_dtype(df.smoker)))
print('region: ' + str(pd.api.types.is_numeric_dtype(df.region)))
print('charges: ' + str(pd.api.types.is_numeric_dtype(df.charges)))

age: True
sex: False
bmi: True
children: True
smoker: False
region: False
charges: True

## **Boundaries  middle**
##### to check the range like begin , end ,

In [ ]:
# min max
myList = [1,2,3,4,5,6,7,8,9,10]
print(max(myList))
print(min(myList))

10
1

In [ ]:
# Using a Python list
import numpy as np

myList = [1,2,3,4,5,6,7,8,9,10]
print(np.quantile(myList, .25))
print(np.quantile(myList, .50))
print(np.quantile(myList, .75))

# Using a Pandas DataFrame column
import pandas as pd

df = pd.DataFrame(data=[1,2,3,4,5,6,7,8,9,10], columns=['myList'])
print("\n")
print(df.myList.quantile(.25))
print(df.myList.quantile(.50))
print(df.myList.quantile(.75))

3.25
5.5
7.75


3.25
5.5
7.75

In [ ]:
import statistics as stat

myList = [1,2,3,4,5,6,7,8,9,10]
stat.mean(myList)

5.5

In [ ]:
import numpy as np

print(f'age : {df.charges.count()}')
print(f'min : {df.charges.min()}')
print(f'max : {df.charges.max()}')
print(f'quantile : {df.charges.quantile(.25)}')
print(df.charges.quantile(.50)) #similar to median
print(df.charges.quantile(.75))

print(df.charges.mean())
print(df.charges.median())
print(df.charges.mode().values[0]) # cnt and sorts the no of unique values by greatest

age : 1338
min : 1121.8739
max : 63770.42801
quantile : 4740.28715
9382.033
16639.912515
13270.422265141257
9382.033
1639.5631

## **spread : standard deviation**

In [ ]:
#for mean is 0
# tells the spread of data
#for sample deviation


# pandas(df) assumes for sample & numpy for population in
print(df.charges.std())
print(df['charges'].std())
print(df.std())

#numpy
print(np.std(df.charges))
#to adjust numpy
print(np.std(df.charges, ddof =1))

12110.011236694001
12110.011236694001
age            14.049960
bmi             6.098187
children        1.205493
charges     12110.011237
dtype: float64
12105.484975561612
12110.011236694001

<ipython-input-23-2f3f20717f48>:9: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.std())

## **Normality: Skew, Kurt**

In [ ]:
# skew - vary on x axis
# right skew = +ve
# left skew = -ve
# if skew(-1, +1) is ok, can also adjust it
# kurtosis(-1, +1) - if shape is high or low on y axis
from scipy.stats import kurtosis, skew

print(df.charges.skew())
print(df['charges'].skew())
print(df[['charges', 'bmi', 'children', 'age']].skew())
print()
print(df.charges.kurt())
print(df['charges'].kurt())
print(df[['charges', 'bmi', 'children', 'age']].kurt())

1.5158796580240388
1.5158796580240388
charges     1.515880
bmi         0.284047
children    0.938380
age         0.055673
dtype: float64

1.6062986532967907
1.6062986532967907
charges     1.606299
bmi        -0.050732
children    0.202454
age        -1.245088
dtype: float64

In [ ]:
# Don't forget to mount Google Drive if you haven't already:
# from google.colab import drive
# drive.mount('/content/drive')

import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/heart_attack_clean.csv')

print(df.shape)
print()
print(df.nunique())
print()
print(df.dtypes)

(261, 11)

age          37
sex           2
cp            4
trestbps     30
chol        150
fbs           2
restecg       3
thalach      67
exang         2
oldpeak      10
num           2
dtype: int64

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
num           int64
dtype: object

### Practice 2: Boundaries, Middle, Spread, Normality

Continue your analysis by calculating the range and middle of each feature and finding the following:
* Minimum, 25% quantile, median, 75% quantile, max
* Mean, mode, standard deviation
* Skewness and kurtosis

In [ ]:
print(df.min())
print()
print(df.quantile(.25))
print()
print(df.median())
print()
print(df.quantile(.75))
print()
print(df.max())
print()
print(df.mean())
print()
print(df.mode().values[0])
print()
print(df.std())
print()
print(df.skew())
print()
print(df.kurt())

### Practice 3: DataFrame
Finally, we should place all of this information into a single DataFrame and summarize it and make it look nice.

* Create a new DataFrame called 'ha_df'
* Add 11 columns in the DataFrame for each of the columns in the original dataset (age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, num)
* Create 13 rows in this DataFrame by adding one row that calculates each of the metrics listed in the above tasks except for the count of columns (count of rows, unique values, data type, min, 25%, median, 75%, max, mean, mode, std dev, skew, kurt) for each of the 11 features. Use the name of the feature as the row index label
  * HINT: You will save yourself a lot of time if you calculate those metrics for all columns of the original dataset in one line (see Not Found for a reminder of how to do this)
  * HINT: Rather than write 13 x 11 (143) lines of code to calculate each metric for each variable, consider calculating a single metric for all columns (1 x 11) so that you only need 11 lines of code. See the DataFrames chapter on Modifying DataFrames -> Add Rows for an example. However, note that you may need to cast the DataFrame Series of metrics into a native Python list. For example: list(df.count())
* Print the DataFrame to verify it looks like this:

In [ ]:
ha_df = pd.DataFrame(columns=[df.columns], index=['Count', 'Unique', 'Type', 'Min', 'Median', 'Mode', 'Mean', 'Std', 'Skew', 'Kurt'])
ha_df.loc['Type'] = list(df.dtypes)
ha_df.loc['Count'] = list(df.count())
ha_df.loc['Unique'] = list(df.nunique())
ha_df.loc['Mode'] = list(df.mode().values[0])
ha_df.loc['Min'] = list(df.min())
ha_df.loc['25%'] = list(df.quantile(.25))
ha_df.loc['Median'] = list(df.median())
ha_df.loc['75%'] = list(df.quantile(.75))
ha_df.loc['Max'] = list(df.max())
ha_df.loc['Mean'] = list(df.mean())
ha_df.loc['Std'] = list(df.std())
ha_df.loc['Skew'] = list(df.skew())
ha_df.loc['Kurt'] = list(df.kurt())
ha_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
Count,261,261,261,261,261,261,261,261,261,261,261
Unique,37,2,4,30,150,2,3,67,2,10,2
Type,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64
Min,28.0,0.0,1.0,92.0,85.0,0.0,0.0,82.0,0.0,0.0,0.0
Median,49.0,1.0,3.0,130.0,242.0,0.0,0.0,140.0,0.0,0.0,0.0
Mode,54.0,1.0,4.0,120.0,230.0,0.0,0.0,150.0,0.0,0.0,0.0
Mean,47.770115,0.735632,3.003831,132.639847,248.823755,0.072797,0.226054,139.226054,0.318008,0.612261,0.375479
Std,7.842244,0.441843,0.970718,17.709857,65.667985,0.260302,0.470935,23.757401,0.466597,0.931914,0.485177
Skew,-0.295159,-1.074823,-0.261933,0.747295,1.447011,3.307711,1.962358,-0.126144,0.786107,1.511448,0.517266
Kurt,-0.569402,-0.851337,-1.412857,0.817625,5.111942,9.009936,3.112579,-0.611899,-1.392767,2.027892,-1.745874
25%,42.0,0.0,2.0,120.0,208.0,0.0,0.0,122.0,0.0,0.0,0.0
75%,54.0,1.0,4.0,140.0,280.0,0.0,0.0,155.0,1.0,1.0,1.0
Max,65.0,1.0,4.0,200.0,603.0,1.0,2.0,190.0,1.0,5.0,1.0

In [ ]:
ha_df = pd.DataFrame(columns=['Count', 'Unique', 'Type', 'Min', 'Median', 'Mode', 'Mean', 'Std', 'Skew', 'Kurt'], index=[df.columns])
ha_df['Type'] = list(df.dtypes)
ha_df['Count'] = list(df.count())
ha_df['Unique'] = list(df.nunique())
ha_df['Mode'] = list(df.mode().values[0])
ha_df['Min'] = list(df.min())
ha_df['25%'] = list(df.quantile(.25))
ha_df['Median'] = list(df.median())
ha_df['75%'] = list(df.quantile(.75))
ha_df['Max'] = list(df.max())
ha_df['Mean'] = list(df.mean())
ha_df['Std'] = list(df.std())
ha_df['Skew'] = list(df.skew())
ha_df['Kurt'] = list(df.kurt())
ha_df

#sort the inverted DF on mean col

,Count,Unique,Type,Min,Median,Mode,Mean,Std,Skew,Kurt,25%,75%,Max
age,261,37,int64,28.0,49.0,54.0,47.770115,7.842244,-0.295159,-0.569402,42.0,54.0,65.0
sex,261,2,int64,0.0,1.0,1.0,0.735632,0.441843,-1.074823,-0.851337,0.0,1.0,1.0
cp,261,4,int64,1.0,3.0,4.0,3.003831,0.970718,-0.261933,-1.412857,2.0,4.0,4.0
trestbps,261,30,int64,92.0,130.0,120.0,132.639847,17.709857,0.747295,0.817625,120.0,140.0,200.0
chol,261,150,int64,85.0,242.0,230.0,248.823755,65.667985,1.447011,5.111942,208.0,280.0,603.0
fbs,261,2,int64,0.0,0.0,0.0,0.072797,0.260302,3.307711,9.009936,0.0,0.0,1.0
restecg,261,3,int64,0.0,0.0,0.0,0.226054,0.470935,1.962358,3.112579,0.0,0.0,2.0
thalach,261,67,int64,82.0,140.0,150.0,139.226054,23.757401,-0.126144,-0.611899,122.0,155.0,190.0
exang,261,2,int64,0.0,0.0,0.0,0.318008,0.466597,0.786107,-1.392767,0.0,1.0,1.0
oldpeak,261,10,float64,0.0,0.0,0.0,0.612261,0.931914,1.511448,2.027892,0.0,1.0,5.0
num,261,2,int64,0.0,0.0,0.0,0.375479,0.485177,0.517266,-1.745874,0.0,1.0,1.0

In [ ]:
ha_df.sort_values(by=['Mean'])

,Count,Unique,Type,Min,Median,Mode,Mean,Std,Skew,Kurt,25%,75%,Max
fbs,261,2,int64,0.0,0.0,0.0,0.072797,0.260302,3.307711,9.009936,0.0,0.0,1.0
restecg,261,3,int64,0.0,0.0,0.0,0.226054,0.470935,1.962358,3.112579,0.0,0.0,2.0
exang,261,2,int64,0.0,0.0,0.0,0.318008,0.466597,0.786107,-1.392767,0.0,1.0,1.0
num,261,2,int64,0.0,0.0,0.0,0.375479,0.485177,0.517266,-1.745874,0.0,1.0,1.0
oldpeak,261,10,float64,0.0,0.0,0.0,0.612261,0.931914,1.511448,2.027892,0.0,1.0,5.0
sex,261,2,int64,0.0,1.0,1.0,0.735632,0.441843,-1.074823,-0.851337,0.0,1.0,1.0
cp,261,4,int64,1.0,3.0,4.0,3.003831,0.970718,-0.261933,-1.412857,2.0,4.0,4.0
age,261,37,int64,28.0,49.0,54.0,47.770115,7.842244,-0.295159,-0.569402,42.0,54.0,65.0
trestbps,261,30,int64,92.0,130.0,120.0,132.639847,17.709857,0.747295,0.817625,120.0,140.0,200.0
thalach,261,67,int64,82.0,140.0,150.0,139.226054,23.757401,-0.126144,-0.611899,122.0,155.0,190.0
chol,261,150,int64,85.0,242.0,230.0,248.823755,65.667985,1.447011,5.111942,208.0,280.0,603.0

In [ ]:
ha_df.sort_values(by=['Mean'])

,Count,Unique,Type,Min,Median,Mode,Mean,Std,Skew,Kurt,25%,75%,Max
fbs,261,2,int64,0.0,0.0,0.0,0.072797,0.260302,3.307711,9.009936,0.0,0.0,1.0
restecg,261,3,int64,0.0,0.0,0.0,0.226054,0.470935,1.962358,3.112579,0.0,0.0,2.0
exang,261,2,int64,0.0,0.0,0.0,0.318008,0.466597,0.786107,-1.392767,0.0,1.0,1.0
num,261,2,int64,0.0,0.0,0.0,0.375479,0.485177,0.517266,-1.745874,0.0,1.0,1.0
oldpeak,261,10,float64,0.0,0.0,0.0,0.612261,0.931914,1.511448,2.027892,0.0,1.0,5.0
sex,261,2,int64,0.0,1.0,1.0,0.735632,0.441843,-1.074823,-0.851337,0.0,1.0,1.0
cp,261,4,int64,1.0,3.0,4.0,3.003831,0.970718,-0.261933,-1.412857,2.0,4.0,4.0
age,261,37,int64,28.0,49.0,54.0,47.770115,7.842244,-0.295159,-0.569402,42.0,54.0,65.0
trestbps,261,30,int64,92.0,130.0,120.0,132.639847,17.709857,0.747295,0.817625,120.0,140.0,200.0
thalach,261,67,int64,82.0,140.0,150.0,139.226054,23.757401,-0.126144,-0.611899,122.0,155.0,190.0
chol,261,150,int64,85.0,242.0,230.0,248.823755,65.667985,1.447011,5.111942,208.0,280.0,603.0

Which columns have a problem with skewness? (ANSWER: fbs, restecg, oldpeak, chol, and sex are all outside of the bounds. However, we don’t worry about sex because it is a special case in which the values are binary: 0 or 1)

* Create and call a function that allows a user to sort the DataFrame by as many levels as they want to. For example, the following version is sorted first by "Type" and then by "Unique":